<h1>Emails#index</h1>

<table class="table">
  <thead>
    <tr>
      <th>subject</th>
      <th>body</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.subject %></td>
        <td><%= email.body %></td>
        <td><%= email.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>